@page
@using IssuerApp.Data
@using IssuerApp.Data.Models
@using IssuerApp.Pages.Shared
@using IssuerApp.Pages.Admin.AchievementCredentials
@using Microsoft.AspNetCore.Identity
@model CreateModel

@{
    ViewData["Title"] = "Issue Open Badge";
    ViewData["ActivePage"] = NavPages.AchievementCredentials;
}

@if (!string.IsNullOrEmpty(ViewData["Message"]?.ToString()))
{
    <div class="alert alert-success">
        @ViewData["Message"]
    </div>
}

@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}

<form method="post" enctype="multipart/form-data" class="card">
    <div class="card-header d-flex align-items-center shadow">
        <div class="text-size-large me-auto">
            @ViewData["Title"]
        </div>
        <button asp-page-handler="" type="submit" class="btn btn-sm btn-dark text-nowrap">
            <i class="fas fa-save"></i>
            <span class="d-none d-lg-inline text-uppercase">Save</span>
        </button>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementKey" class="input-group-text"></label>
                        <select class="form-select" asp-for="AchievementKey" asp-items="Model.Achievements">
                            <option value=""></option>
                        </select>
                        <span class="input-group-text">
                            <description asp-for="AchievementKey"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementKey" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="MemberKey" class="input-group-text"></label>
                        <select class="form-select" asp-for="MemberKey" asp-items="Model.Members">
                            <option value=""></option>
                        </select>
                        <span class="input-group-text">
                            <description asp-for="MemberKey"></description>
                        </span>
                    </div>
                    <span asp-validation-for="MemberKey"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.ValidFrom" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.ValidFrom" class="form-control" type="date"
                               value="@($"{DateTime.Today:yyyy-MM-dd}")" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.ValidFrom"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.ValidFrom"></span>
                </div>
            </div>
        </div>

        <h5 class="section-title">Wallet Display</h5>

        <div class="row">
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.Name" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.Name" class="form-control" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.Name"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.Name"></span>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="ImageId" class="input-group-text"></label>
                        @if (!string.IsNullOrEmpty(Model.ImageId))
                        {
                            <div class="input-group-text">
                                @if (Model.ImageId.StartsWith("data:"))
                                {
                                    <a href="#" onclick="exportToView('@Model.ImageId')">Preview</a>
                                }
                                else
                                {
                                    <a href="@Model.ImageId" target="_blank">Preview</a>
                                }
                            </div>
                        }
                        <input asp-for="ImageId" class="form-control" placeholder="Enter URL or upload file" />
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#upload">Upload Image</button>
                        <div class="input-group-text">
                            <description asp-for="ImageId"></description>
                        </div>
                    </div>
                    <span asp-validation-for="ImageId" class="text-danger"></span>
                </div>

                <div class="modal fade" id="upload" tabindex="-1" aria-labelledby="uploadLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadLabel">Upload Image File</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" asp-for="AchievementCredential.AchievementCredentialKey" />
                                <div class="mb-3">
                                    <label asp-for="ImageFile" class="form-label">Choose an image that represents the credential</label>
                                    <input asp-for="ImageFile" type="file" class="form-control" accept="image/png,image/jpeg,image/gif,image/svg+xml" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button id="upload-image-btn" type="submit" class="btn btn-dark" disabled
                                        asp-page-handler="UploadImage">
                                    Upload Image
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.Description" class="input-group-text"></label>
                        <textarea asp-for="AchievementCredential.Description" class="form-control"></textarea>
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.Description"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <h5 class="section-title">Optional Details</h5>

        <div class="row">
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.ValidUntil" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.ValidUntil" class="form-control" type="date" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.ValidUntil"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.ValidUntil"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.AwardedDate" class="input-group-text">Awarded Date</label>
                        <input asp-for="AchievementCredential.AwardedDate" class="form-control" type="date" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.AwardedDate"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.AwardedDate"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.Term" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.Term" class="form-control" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.Term"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.Term"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.ActivityStartDate" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.ActivityStartDate" class="form-control" type="date" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.ActivityStartDate"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.ActivityStartDate"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.ActivityEndDate" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.ActivityEndDate" class="form-control" type="date" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.ActivityEndDate"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.ActivityEndDate"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.Role" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.Role" class="form-control" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.Role"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.Role"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.CreditsEarned" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.CreditsEarned" class="form-control" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.CreditsEarned"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.CreditsEarned"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.LicenseNumber" class="input-group-text"></label>
                        <input asp-for="AchievementCredential.CredentialSubject.LicenseNumber" class="form-control" />
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.LicenseNumber"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.LicenseNumber"></span>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="SourceKey" class="input-group-text">Source</label>
                        <select class="form-select"
                                asp-for="SourceKey"
                                asp-items="Model.Organizations">
                            <option value="">Select an organization</option>
                        </select>
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.Source"></description>
                        </span>
                    </div>
                    <span asp-validation-for="SourceKey"></span>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="mb-2">
                    <div class="input-group input-group-sm">
                        <label asp-for="AchievementCredential.CredentialSubject.Narrative" class="input-group-text"></label>
                        <textarea asp-for="AchievementCredential.CredentialSubject.Narrative" class="form-control" placeholder="(markdown allowed)"></textarea>
                        <span class="input-group-text">
                            <description asp-for="AchievementCredential.CredentialSubject.Narrative"></description>
                        </span>
                    </div>
                    <span asp-validation-for="AchievementCredential.CredentialSubject.Narrative" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DisplayScriptsPartial");
    }
    <script>
        $('#ImageFile').change(function () {
            $('#upload-image-btn')[0].disabled = $('#ImageFile')[0].files.length === 0;
        });
    </script>
}